body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    background-color: #f0e7b9;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.signup-btn {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 12px 24px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

.signup-btn:hover {
    background-color: #45a049;
}

.modal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 242, 177, 0.4);
    justify-content: center;
    align-items: center;
    transition: opacity 0.3s ease;
}

.modal-content {
    background-color: #f2f7fc;
    padding: 30px;
    width: 100%;
    max-width: 400px;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    position: relative;
    animation: slideIn 0.3s ease-out;
}



.close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 22px;
    font-weight: bold;
    cursor: pointer;
    color: #333;
}

h2 {
    font-size: 24px;
    color: #172f7e;
    margin-bottom: 10px;
}

p {
    color: #000000;
    font-size: 14px;
}

input {
    width: 100%;
    padding: 10px;
    margin: 3px 0;
    border: 1px solid #000000;
    font-size: 16px;
    transition: border-color 0.3s ease;
    position: ;
}

input:focus {
    border-color: #4CAF50;
    outline: none;
}
.accept-btn {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}


.accept-btn:hover {
    background-color: #45a049;
}
.conformation{
    color: ;
}

#error-message {
    color: red;
    font-size: 14px;
    margin-top: 15px;
    font-weight: bold;
}
